* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1em auto;
  width: fit-content;
  margin: 5em auto;
}

.wrapper > input {
  display: none;
}

.slider {
  overflow: hidden;
}

.slider-images {
  max-width: 36em;
  grid-column: 1 / 3;
}

.slider-texts {
  grid-row: 3;
}

.slides-container {
  display: flex;
}

.controls-container {
  display: flex;
  justify-content: end;
  gap: 0.3em;
  grid-row: 3;
}

.controls-container .control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
	width: 1.5em;
	cursor: pointer;
}

.controls-container .control .control-core {
	height: 1em;
	width: 1em;
  background: #ddd;
	border: .1em solid #ddd;
	border-radius: 50%;
}

.controls-container .control:hover .core, 
#slide1:checked ~ .controls-container .control:nth-of-type(1) .control-core,
#slide2:checked ~ .controls-container .control:nth-of-type(2) .control-core,
#slide3:checked ~ .controls-container .control:nth-of-type(3) .control-core,
#slide4:checked ~ .controls-container .control:nth-of-type(4) .control-core {
	background: unset;
}

.slide {
  min-width: 100%;
  height: auto;
  flex: 1 0;
}

.text {
  font-size: 1.2em;
  font-weight: 500;
}